<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>
        <div class="site-title">
            <h2 class="text-left">Assign Tags</h2>
            <h2 class="text-right">{{ user_data.company.name }}</h2>
        </div>
        <div id="AssignKit" class="clearfix container-fluid">
            <form class="clearfix" id="frmAssignKit" name="frmAssignKit" role="form" ng-submit="submitAssignKit()">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12">
                        <div class="row form-group">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Kit</label>
                            <input type="hidden" id="kit_serial" name="kit_serial" value="{{ form.kit_serial }}" ng-model="form.kit_serial">
                            <div id="warp_vehicle_kit" class="ui-widget col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select class="form-control input-lg" id="vehicle_kit" name="kit_id"
                                        value="{{vehicle.kit.serial}}" placeholder="Vehicle Kit">
                                    <option selected value=""></option>
                                    <option ng-repeat="kit in vehicleKits" serial="{{ kit.serial }}" value="{{ kit.id }}">{{kit.serial}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12">
                        <div class="row form-group">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">User</label>
                            <div id="warp_user" class="ui-widget col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select class="form-control input-lg" id="user" name="user_id" placeholder="User">
                                    <option selected value=""></option>
                                    <option ng-repeat="user in users" rfid="{{ user.rfid }}" value="{{ user.id }}">{{ user.name }} {{user.employee_id ? '('+user.employee_id+')' : ''}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12">
                        <div class="row form-group">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">RFID</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input readonly="true" type="text" ng-model="form.rfid" class="form-control input-lg" id="rfid" name="rfid" placeholder="RFID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix container-fluid">
                    <div class="form-group right text-right">
                        <button type="button" ng-click="startListen()" class="btn btn-default">{{ buttonStartListen }}</button>
                        <button type="reset" ng-click="clearForm()" class="btn btn-default clear">Clear</button>
                        <button type="submit" class="btn btn-default login btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </snap-content>
</div>
