<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>
        <div class="site-title">
            <h2 class="text-left">Companies</h2>
            <h2 class="text-right">{{ user_data.company.name }}</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div ng-click="chooseCompany(company.id)" ng-repeat="company in companies_listing | orderBy:'name'"
                     class= "col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <div class="item">
                        <div class="col-xs-3 col-md-2 col-lg-1 col-sm-3">
                            <div class="image">
                                <img ng-src="{{company.assets.logotype || 'images/flat-avatar.png'}}"/>
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-10 col-lg-11 col-sm-9">
                            <div class="title clearfix company-name"><a>{{company.name}}</a></div>
                            <div class="description clearfix company-address"><a>{{company.address}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </snap-content>
</div>
