<snap-drawer>
    <div class="snap-menu">
        <div class="sidebar-header text-center">
            <img src="{{ user_data.company.assets.logotype || 'images/flat-avatar.png' }}" alt="" class="sidebar-img img-circle">
        <ul class="snap-ul">
            <li ng-class="{active: $state.includes('company')}"><a ui-sref="company">COMPANY</a></li>
            <li ng-class="{active: $state.includes('select')}"><a ui-sref="select">SELECT WHAT TO DO</a></li>
            <li ng-class="{active: $state.includes('vehicles')}"><a ui-sref="vehicles">LIST VEHICLE</a></li>
            <li ng-class="{active: $state.includes('new_vehicle')}"><a ui-sref="new_vehicle">NEW VEHICLE</a></li>
            <li ng-class="{active: $state.includes('assign_kit')}"><a ui-sref="assign_kit">ASSIGN TAGS</a></li>
            <li><a ui-sref="login">LOGOUT</a></li>
        </ul>
    </div>
</snap-drawer>
