<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>
        <div class="site-title">
            <h2 class="text-left">Functions</h2>
            <h2 class="text-right">{{ user_data.company.name }}</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div ng-click="selectWork(todo.id)"  ng-repeat="todo in selectWhatToDo"
                     class= "col-xs-12 col-md-6 col-lg-6 col-sm-6">
                    <div class="item">
                        <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                            <div class="image">
                                <img ng-src="{{todo.image || 'images/flat-avatar.png'}}"/>
                            </div>

                        </div>
                        <div class="col-xs-9 col-md-9 col-lg-9 col-sm-9">
                            <div class="title clearfix company-name"><a>{{todo.name}}</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </snap-content>
</div>
