<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="row">
            <div class="site-title">
                <h2 class="text-left">Test {{vehicle.name}}</h2>

                <h2 class="text-right">{{ user_data.company.name }}</h2>
            </div>
            <div ng-if="vehicle.kit" id="VehicleTest" class="container-fluid">
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_lock(vehicle.id)">
                        <span class="lock glyphicon glyphicon-lock"></span>
                        <strong>Door lock</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_unlock(vehicle.id)">
                        <span class="unlock glyphicon glyphicon-lock"></span>
                        <strong>Door unlock</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_enable(vehicle.id)">
                        <span class="enable glyphicon glyphicon-play"></span>
                        <strong>Starter Enable</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_disable(vehicle.id)">
                        <span class="disable glyphicon glyphicon-stop"></span>
                        <strong>Starter Disable</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_device_program(vehicle.id)">
                        <span class="unlock glyphicon glyphicon-check"></span>
                        <strong>Program APN</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_device_restart(vehicle.id)">
                        <span class="unlock glyphicon glyphicon-refresh"></span>
                        <strong>Restart Device</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_device_update(vehicle.id)">
                        <span class="enable glyphicon glyphicon-download-alt"></span>
                        <strong>Firmware update</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_zoom(vehicle.lat,vehicle.lng)">
                        <span class="enable glyphicon glyphicon-search"></span>
                        <strong>Zoom to vehicle</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_available(vehicle.id)">
                        <span class="enable glyphicon glyphicon-ok-sign"></span>
                        <strong>Available</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_unavailable(vehicle.id)">
                        <span class="enable glyphicon glyphicon-ban-circle"></span>
                        <strong>Unavailable</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_location(vehicle.id)">
                        <span class="enable glyphicon glyphicon-ban-circle"></span>
                        <strong>Get Location</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_program_rfid(vehicle.id)">
                        <span class="enable glyphicon glyphicon-ban-circle"></span>
                        <strong>Program RFID</strong>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 col-sm-6">
                    <div class="item control" ng-click="kit_clear_rfid(vehicle.id)">
                        <span class="enable glyphicon glyphicon-ban-circle"></span>
                        <strong>Clear RFID</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="item">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
                    <div class="image">
                        <img ng-src="{{ vehicle.assets.photo || 'images/vehicle.jpg'}}"/>
                    </div>
                </div>
                <div class="col-xs-8  col-sm-9 col-md-9 col-lg-10">
                    <div class="title clearfix company-name"><a>{{vehicle.name}}</a>
                        <small> the {{vehicle.model.name}}</small>
                    </div>
                    <div class="clearfix description tab">
                        <span> {{vehicle.body.name?vehicle.body.name:'Unknown body'}}</span>
                        <span> Rego: {{vehicle.registration}}</span>
                        <span> KMs: {{vehicle.kms_current|number}}</span>
                        <span> {{vehicle.year}} model</span>
                        <span> {{vehicle.fuel_type}} Fuel</span>
                        <span> {{vehicle.transmission == 'M' ? 'Manual' : 'Automatic'}} transmission</span>
                        <span> Kit: {{ vehicle.kit.name ? vehicle.kit.name: 'None' }}</span>
                        <span> Kit Serial: {{ vehicle.kit.serial ? vehicle.kit.serial: 'None' }}</span>
                        <span ng-show="vehicle.kit.serial"> Long: {{ vehicle.lng }}, Lat: {{ vehicle.lat }}</span>
                        <p> <span ng-show="address_on_map"> Address: {{address_on_map}}</span></p>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                </div>
            </div>
            <div id="map"></div>
            <div ng-show="rfid" id="Rfid">
                <div class="container-fluid" id="RfidResult">{{rfid.result}}</div>
                <div id="Decode" class="clearfix">
                    <span ng-repeat="(field, item) in rfid">
                        {{field}}: {{item}}
                    </span>
                </div>
            </div>
            <div class="clearfix">
                <div id="TestControl" class="form-group right text-right">
                    <button type="submit" class="btn btn-default" ng-click="editVehicle(vehicle.id)">Edit this vehicle
                    </button>
                    <button type="button" class="btn btn-default" ui-sref="vehicles">Return list</button>
                </div>
            </div>
        </div>
    </snap-content>
</div>
