<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>


        <div class="site-title">
            <h2 class="text-left">Test and Edit Vehicles</h2>

            <h2 class="text-right">{{ user_data.company.name }}</h2>
        </div>

        <div id="vehicles" class="container-fluid">
            <div class="row">
                <div ng-repeat="vehicle in listVehicle | orderBy:'name'"
                     class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <div class="item">
                        <div class="hidden-xs col-sm-2 col-md-2 col-lg-1">
                            <div class="image">
                                <img ng-src="{{ vehicle.assets.photo || 'images/vehicle.jpg'}}"/>
                            </div>
                        </div>
                        <div class="col-xs-10  col-sm-9 col-md-9 col-lg-10">
                            <div ng-click="testVehicle(vehicle.id)" class="title clearfix company-name"><a>{{vehicle.name}}</a>
                                <small> the {{vehicle.model.name}}</small>
                            </div>
                            <div class="clearfix description tab">
                                <span>{{vehicle.body.name?vehicle.body.name:'Unknown body'}}</span>
                                <span>Rego: {{vehicle.registration}}</span>
                                <span> KMs: {{vehicle.kms_current|number}}</span>
                                <span> {{vehicle.year}} model</span>
                                <span> {{vehicle.fuel_type}} Fuel</span>
                                <span>{{vehicle.transmission == 'M' ? 'Manual' : 'Automatic'}} transmission</span>
                                <span> Kit Name: {{ vehicle.kit.name ? vehicle.kit.name: 'None' }}</span>
                                <span> Kit Serial: {{ vehicle.kit.serial ? vehicle.kit.serial: 'None' }}</span>
                                <span ng-show="vehicle.kit.serial"> Long: {{ vehicle.lng }}, Lat: {{ vehicle.lat }}</span>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <span ng-click="editVehicle(vehicle.id)" class="control glyphicon glyphicon glyphicon-edit"
                                  title="Edit" aria-hidden="true"></span>
                            <span ng-click="testVehicle(vehicle.id)" class="control glyphicon glyphicon-question-sign"
                                  title="Test" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </snap-content>
</div>
