<div>
    <ng-include src="'views/dashboard/left_menu.html'"></ng-include>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false" class="main-content">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x"></i>
			</span>
        </a>

        <div class="site-title">
            <h2 class="text-left">{{vehicle.name?'Edit':'Add'}} {{vehicle.name}}</h2>

            <h2 class="text-right">{{ user_data.company.name }}</h2>
        </div>
        <div id="Vehicle" class="clearfix container-fluid">
            <form class="clearfix" id="frmVehicle" name="frmNewVehicle" role="form" ng-submit="submitVehicle()">
                <div class="table-form">
                    <div class="form-groups clearfix">
                        <fieldset class="clearfix fieldset">
                            <legend>VEHICLE DETAILS</legend>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Kit</label>
                                        <div id="warp_vehicle_kit" class="ui-widget col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div id="old_vehicle_kit">{{vehicle.kit.serial}}</div>
                                            <select class="form-control input-lg"
                                                    id="vehicle_kit"
                                                    name="kit_id"
                                                    ng-value="vehicle.kit_id"
                                                    placeholder="Vehicle Kit">
                                                <option value=""></option>
                                                <option ng-repeat="kit in vehicleKits" ng-selected="{{kit.id == vehicle.kit_id}}" value="{{ kit.id }}">{{kit.serial}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Name</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control input-lg" id="name" name="name"
                                                   value="{{vehicle.name}}"
                                                   placeholder="Enter the name of the Vehicle" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Model</label>

                                        <div id="warp_vehicle_model" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg" id="vehicle_model"
                                                    name="model_id"
                                                    ng-value="vehicle.model_id"
                                                    placeholder="Enter the vehicle model">
                                                <option value=""></option>
                                                <option ng-repeat="model in vehicleModels" ng-selected="{{model.id == vehicle.model_id}}" value="{{ model.id }}">{{model.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Fuel</label>

                                        <div id="warp_vehicle_fuel" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg" id="vehicle_fuel"
                                                    name="fuel_id"
                                                    ng-model="vehicle.fuel_id"
                                                    placeholder="Enter the vehicle fuel">
                                                <option value=""></option>
                                                <option ng-repeat="fuel in vehicleFuels" value="{{ fuel.id }}">{{fuel.name}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Doors</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg"
                                                    id="doors"
                                                    name="doors"
                                                    ng-model="vehicle.doors"
                                                    placeholder="Doors">
                                                <option value=""></option>
                                                <option ng-repeat="door in vehicle_doors" value="{{ door.id }}">{{door.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Luggage</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg"
                                                    id="luggage"
                                                    name="luggage"
                                                    ng-model="vehicle.luggage"
                                                    placeholder="Luggage">
                                                <option value=""></option>
                                                <option ng-repeat="luggage in luggages" value="{{ luggage.id }}">{{luggage.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Registration</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control input-lg" id="registration"
                                                   name="registration"
                                                   ng-model="vehicle.registration"
                                                   placeholder="Registration">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Vehicle Year</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control input-lg" id="vehicle_year"
                                                   name="year"
                                                   ng-model="vehicle.year"
                                                   value="vehicle.year"
                                                   placeholder="Vehicle Year">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Kms Start</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control input-lg" id="kms_start"
                                                   name="kms_start"
                                                   ng-model="vehicle.kms_start"
                                                   placeholder="Kms Start">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Kms Current</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control input-lg" id="kms_current"
                                                   name="kms_current"
                                                   ng-model="vehicle.kms_current"
                                                   placeholder="Kms Current">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="clearfix fieldset">
                            <legend>LOCATION DETAILS</legend>
                            <div class="container-fluid">
                                <h4>Branch</h4>

                                <div class="clearfix" ng-repeat="branch in listBranch">
                                    <div class="radio1">
                                        <span><input id="branch_{{branch.id}}" type="radio" class="float-left text-left"
                                                     name="branch_id" value="{{ branch.id }}"
                                                     ng-model="vehicle.branch_id"></span>
                                        <label class="text-left control-label"
                                               for="branch_{{branch.id}}">{{branch.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <h4>Cost Center</h4>

                                <div class="checkbox1" ng-repeat="center in listCostCentres">
                                        <span> <input type="checkbox"
                                                      class="float-left text-left"
                                                      id="center_{{center.id}}"
                                                      ng-model="checkCentres[center.id]"
                                                      name="cost-centre_ids"
                                                      value="{{center.id}}"></span>
                                    <label class="text-left control-label"
                                           for="center_{{center.id}}">{{center.name}}</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="clearfix fieldset">
                            <legend>VEHICLE SPECIFICS</legend>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Transmission</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="radio1" ng-repeat="trans in transmission">
                                        <span> <input type="radio" class="float-left text-left" id="trans_{{trans.id}}"
                                                      name="transmission" value="{{trans.id}}"
                                                      ng-model="vehicle.transmission"></span>
                                                <label class="text-left control-label"
                                                       for="trans_{{trans.id}}">{{trans.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Seat Numbers</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg"
                                                    id="seat_number"
                                                    name="seat_number"
                                                    ng-model="vehicle.seat_number"
                                                    placeholder="Vehicle Kit">
                                                <option value="">None</option>
                                                <option ng-repeat="seat in seats" value="{{ seat.id }}">{{seat.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Body Colour</label>

                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control input-lg"
                                                    id="body_colour"
                                                    name="body_colour"
                                                    ng-model="vehicle.body_colour">
                                                <option value=""></option>
                                                <option ng-repeat="color in colors" value="{{ color.id }}">{{color.name}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="clearfix fieldset">
                            <legend>FEATURES</legend>
                            <div class="container-fluid">
                                <div class="row form-group">
                                    <div class="checkbox1" ng-repeat="feature in vehicleFeatures track by $index">
                                        <span><input type="checkbox" class="float-left text-left"
                                                     id="feature_{{feature.id}}"
                                                     ng-model="checkFeatures[feature.id]"
                                                     name="feature_ids"
                                                     value="{{feature.id}}"
                                            ></span>
                                        <label class="text-left control-label" for="feature_{{feature.id}}">{{feature.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="clearfix container-fluid">
                        <div class="form-group right text-right">
                            <button type="submit" class="btn btn-default login btn-success">Submit</button>
                            <button type="reset" class="btn btn-default clear">Clear</button>
                            <button type="button" class="btn btn-default" ui-sref="vehicles">Return list</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </snap-content>
</div>
