.ui-base {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #585858;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  background: #fff;
  overflow-x: hidden;
  color: white;
}

.message {
  .error {
    color: red;
  }
  .success {
    color: white;
  }

  text-transform: capitalize;
  padding: 10px;
}

* {
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.image {
  img {
    float: left;
    width: 100% !important;
    height: auto !important;
  }
}

h4 {
  text-transform: uppercase;
  float: left;
  width: 100%;
  padding: 20px 0px 10px 0px;
}

label {
  font-weight: normal;
  font-size: 16px;
}

fieldset {

}

legend {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff6de;
}

#Message {
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 999;
  text-transform: capitalize;
  font-weight: bold;
  background: #fafcef;
  border-bottom: 5px solid #06846B;
  color: #449d44;
  padding: 3%;
}
#Message.error {
  color: #ff0000;
}

#Load {
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 998;
  padding: 28px;
  color: #77705B;
  img{
    height: 30px;
  }
}

