.checkbox1 {
  position: relative;
  padding:20px 0px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  min-width: 150px;

  label{
    line-height: 30px;
    float:left;
    cursor: pointer;
  }
  input[type=checkbox] {
    position: absolute;
    height: inherit;
    width: inherit;
    left: 0px;
    margin: 0px;
    cursor: pointer;
  }
  span {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    cursor: pointer;
    vertical-align: middle;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: " ";
      color: @brand-primary;
      text-align: center;
      font-size: 22px;
      border: solid 2px #ddd;
      line-height: 16px;
    }
  }
}

.checkbox1 {
  input:checked + span:before {
    background: white;
    border-color: white;
  }
}

.radio1 {
  position: relative;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  min-width: 150px;
  label{
    line-height: 30px;
    cursor: pointer;
  }
  input[type=radio] {
    position: absolute;
    height: inherit;
    width: inherit;
    cursor: pointer;
    opacity: 1;
    left: 0px;
    margin: 0px;
  }
  span {
    cursor: pointer;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    vertical-align: middle;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: " ";
      color: #fff;
      text-align: center;
      font-size: 22px;
      border: solid 2px #ddd;
      line-height: 16px;
      border-radius: 30px;
    }
  }
}

.radio1 {
  input:checked + span:before {
    height: 20px;
    width: 20px;
    background: @brand-primary;
  }
}

table.white {
  tbody {
    color: white;
  }
}
