.input-underline {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  color: #FFF;
  border-radius: 0;

  &::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  &::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    box-shadow: none;
  }

}
