.dashboard-page {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: @brand-primary;
  color: white;

  /*
   * Base structure
   */

  /*
   * Global add-ons
   */

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }

  h2 {
    font-weight: 300;
    small {
      color: #fff;
    }
  }

  /*
   * Main content
   */

  .main {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    .jumbotron {
      background: inherit;
      margin-top: 20px;
    }
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }

  /*
   * Placeholder dashboard ideas
   */

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }

  .bg-fade {
    font-size: 500px;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: -100px;
    top: 180px;
    overflow: hidden;
  }

  .jumbotron {
    background: @brand-primary;
  }
  .fr {
    padding-left: 60px;
  }

}

.btn-white {
  border-color: white;
  border-radius: 0 !important;
  border: 3px solid;
  background: none;
  &:hover, &:focus {
    border-color: white;
    color: #797979;
    background: white;
  }
}

.snap-content, snap-content {
  overflow-x: hidden;
}

snap-content {
  background: @brand-primary;
  a {
    color: white;
    &:hover, &:active, &:focus {
      color: white;
    }
  }
  .menutoggle {
    .fa {
      position: absolute;
      left: 15px;
      top: 25px;
    }
  }
}

snap-drawer {
  background: darken(@brand-primary, 4%);
  a {
    color: white;
    &:hover, &:active, &:focus {
      color: white;
    }
  }
  .sidebar-header {
    margin-top: 40px;
    .sidebar-img {
      width: 140px;
      height: 140px;
      border: 3px solid white;
    }
  }
  ul.snap-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    li.active {
      background: @brand-primary;
    }
    li {
      height: 40px;
      padding: 11px;
      padding-left: 28px;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 1px;
      &:hover {
        background: @brand-primary;
      }
      a {
        display: block;
        height: 35px;
        &:hover {
          text-decoration: none;

        }
      }
    }
  }
}

* {
  a:hover {
    cursor: pointer;
  }
}

.site-title{
  margin-top: 22px;
  height: 60px;

  h2.text-right{
    float: right;
    margin: 0px 20px 0px 0px;
    line-height: 35px;
    font-size: 20px;
  }
  h2.text-left{
    float: left;
    margin: 0px 0px 0px 70px;
    line-height:35px;
    font-size: 20px;
  }
}
.company-name {
  font-size: large;
  a {
    font-size: large;
    color: #E8E31D;
  }
}

.item {
  padding: 15px 0px;
  float: left;
  width: 100%;
  background-color: #0EA98A;
  overflow: hidden;
  margin: 5px 0px;
  cursor: pointer;
}
#vehicles{
  .item{
    .tab{
      span{
        background: #049275;
        margin: 3px 10px 3px 3px ;
        padding: 0px 5px;
        float: left;
      }

    }
  }

  .control{
    font-size: 35px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
  }
}
#VehicleTest{
  clear: both;
  .control{
    &:hover{
      background: green;
    }
    padding:5px;
    span{
      float: left;
      font-size: 30px;
      background: #fff;
      border: 2px solid #8eccac;
      padding: 3px;
    }
    span.lock{
      color:red;
    }
    span.unlock{
      color:green;
    }
    span.enable{
      color:green;
    }
    span.disable{
      color:black;
    }
    strong{
      float:left;
      font-size: 15px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}
#map{
  width: 100%;
  height: 400px;
  margin: 20px 0px 0px;
}
#Rfid{
  margin-top:10px;
}
#Rfid{
  pre{
    background: none;
    border:1px solid #168871;
    color: #fff !important;
    font-size: 15px;
  }
}
#Vehicle{
  width:100%;
  float:left;
}
#frmNewVehicle{
  width:100%;
  float:left;
  h4{
    margin: 10px 0px 0px;
  }
}
#TestControl{
  padding: 10px;
  float:right;
}
#Decode span{
  float:left;
  padding:5px;
  margin:5px;
  background: #0D9479;
}
#warp_vehicle_kit{
  position: relative;
}
#old_vehicle_kit{
  display: none;
  color:#000;
  margin-top: 8px;
  margin-left: 14px;
  font-size: 18px;
  float:left;
  position: absolute;
}
#RfidResult{
  background: #fff;
  color: green;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: bold;
}
