.user-avatar {
  	cursor: pointer;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
      }

}
