<div class="login-page">
    <div class="img-container">
        <div class="text-center pull-right photo">
            <img src="images/flat-avatar.png" class="user-avatar img-circle img-responsive"/>
            <h1>Yoogo share</h1>
            <h2>Install tool</h2>
        </div>
    </div>
    <div class="form-content">
        <form  id="frmLogin" name="frmLogin" role="form" class="bottom-75" ng-submit="submit()">
            <div class="table-form">
                <div class="form-groups">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="email" name="email" placeholder="EMAIL">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" id="password" name="password" placeholder="PASSWORD">
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
